<div class="displayed">
	<h3>Alumni <br />Once a Spirit, Always a Spirit...</h3>
	<img class="non_slideshow" src="img/alumni/AlumniBrunch2008.jpg">
	<h3>Spooks and Spirits</h3>
	<br />
	<p>
		Greetings past Spirits and Spooks, <br /> <br />
		After much thought and discussion, all alumni duties have been moved from Public Relations Haunt to
		a new office position: Traditions Haunt. Please fill out this form below if you are a recent
		tap-out or if you have recently changed your information (last name, email, address, etc.). I send
		out emails to our alumnae every month or so to update everyone on the goings on of Texas Spirits.
		Never hesitate to contact me with any comments or ideas. I love hearing from you ladies.
		<br /><br />
		XO & CIWY,<br />
		<a href="mailto:traditionshaunt@gmail.com">
			Jules Bunch <br />
			Traditions Haunt 2012
		</a>
	</p>
	<br /><br />
	<form>
		<table class="left">
			<tr>
				<td>Name:</td>
				<td>
					<input type="text" value="First Last" required />
				</td>
			</tr>
			<tr>
				<td>Pledge Class Semester:</td>
				<td>
					<select>
						<option value="Fall">Fall</option>
						<option value="Spring">Spring</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Pledge Class Year:</td>
				<td>
					<input type="number" min="1940" max="2013" required />
				</td>
			</tr>
			<tr>
				<td>Email Address:</td>
				<td>
					<input type="email" data-ng-model="email" required />
				</td>
			</tr>
			<tr>
				<td>Confirm Email Address:</td>
				<td>
					<input type="email" required />
				</td>
			</tr>
			<tr>
				<td>Phone Number:</td>
				<td>
					<input type="tel" />
				</td>
			</tr>
			<tr>
				<td>Street Address:</td>
				<td>
					<input type="text" />
				</td>
			</tr>
			<tr>
				<td>Address Line 2:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>City:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Country:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>State / Procince / Region</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Postal / Zip Code</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Coutry</td>
				<td><input type="text" value="United States" /></td>
			</tr>
			<tr>
				<td>As an alumnus, what do you expect from this page in the future?</td>
				<td><textarea name="comments" cols="200" rows="10">Enter your message here</textarea></td>
			</tr>
			<tr>
				<td>Name of your Little Ghoulfriend:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Name of your Big Ghoulfriend:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Name of your Grand Ghoulfriend:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>Would you like to be e-mailed about future alumni events?</td>
				<td><select><option value="yes">Yes</option><option value="no">No</option></select></td>
			</tr>
			<tr>
				<td colspan="2"><button type="submit" class="btn btn-primary left-button">Submit</button></td>
			</tr>
		</table>
	</form>
</div>
