<div class="displayed">
	<h3>We Want YOU to be in Texas Spirits!</h3>
	<img class="non_slideshow" src="img/join/Fall2012.png">
	<h4>CONGRATULATIONS</h4>
	Tap-In Class of Fall 2012<br />You've been "scarved"!
	<hr />
	<div>
		<h3>What does it take to be a Texas Spirit</h3>
		<p>
			We seek ladies who possess the characteristics of leadership,
			scholarship, potential, and all-around enthusiasm for what it means to
			be a Longhorn. We are looking for individuals who are spirited and have
			a sincere desire to serve the University of Texas and the Austin
			community. Finally, in order to experience and enjoy the benefits of
			our organization to the fullest, a substantial time commitment is
			encouraged. Please consider this when applying to be a Texas Spirit.
		</p>
	</div>
	<hr />
	<div>
		<h3>Requirements:</h3>
		<p>
			In order to become a Texas Spirit Weenie, you must be a registered
			freshman or sophomore with a GPA of 2.5 or above.
		</p>
		<p>
			Applicants who are planning to study abroad or to not be enrolled
			in-residence for any other reason during Spring 2013 or Fall 2013
			are ineligible to apply.
		</p>
	</div>
	<hr />
	<div>
		<h3>Want to find out what Spirits is all about?</h3>
		<p>
			Be sure to join our Spring 2013 Recruitment Facebook page to stay updated
			on our fun recruitment events!
		</p>
	</div>
	<hr />
	<div>
		<h3>Questions?</h3>
		<p>
			If you would like more information or a question answered, please
			e-mail our <a href="mailto:vicehaunt13@gmail.com">Vice Haunt: Nicole Martinez</a> or fill out the form below:
		</p> 
	</div>
	<form name="questionsForm">
		<input type="text" placeholder="First Name" required>
		<input type="text" placeholder="Last Name" required> <br />
		
		<input type="email" placeholder="Email" required>
		<input type="email" placeholder="Confirm Email" required> <br />
		<textarea name="comments" cols="200" rows="10">Enter your message here
		</textarea> <br />
		<button>Send Message</button><button>Clear</button>
	</form>
</div>