<div class="displayed">
	<div>
		<h3>Serving UT and the Austin community since 1956...</h3>
		<p>
			Service is one of the four pillars of our organization. Texas Spirits accounts for over 2,000
			hours of service each semester! Spirits complete their service hours both inside and outside
			the organization. We volunteer in a variety of events and projects each semester, often
			collaborating with other student organizations to work for great causes.
		</p>
	</div>
	<hr />
	<div>
		<h3>Texas Spirits presents Band Jam!</h3>
		<p>
		Our largest annual event is Band Jam, a huge charity concert benefiting the Make-A-Wish Foundation,
		a nonprofit organization dedicated to granting the wishes of hospitalized and terminally ill
		children. Band Jam started in 1995 and has been getting bigger and better every year.
		</p>
		<p> 
			Check out the Band Jam website to donate and for more info
		</p>
	</div>
	<hr />
	<div>
		<h3>Service & Spirits in Action:</h3>
		<p>
			Thank you to everyone who made it out to support Texas Spirits Band Jam 2011 supporting the
			Make-A-Wish Foundation. We raised over $20,000 and will be able to grant four wishes!
		</p>
	</div>
	<div>
		<h3>Great work Spirits 2011 Band Jam Committee!</h3>
		<img class="non_slideshow" src="img/services/band_jam_2011.jpg">
		<h3>Horns Give: Bastrop Wildfire Relief </h3>
		<img class="non_slideshow" src="img/services/bastrop.jpg">
		<h3>Susan G. Komen Race for the Cure </h3>
		<img class="non_slideshow" src="img/services/cure_race.jpg">
		<h3>UT Hold Up For Haiti</h3>
		<img class="non_slideshow" src="img/services/haiti.jpg">
		<h3>Spirits & Wranglers Service Project </h3>
		<img class="non_slideshow" src="img/services/services.jpg">
	</div>
	<div>
		<p>
			If you have any questions regarding our service projects, or would like to donate and/or
			participate in Texas Spirits Band Jam please contact our Service Haunts: Anjali Sethi & Doha
			Hussien.
		</p>
	</div>
</div>