<div class="displayed">
	<h2>Girls Do Just Wanna Have Fun!</h2>
	<img class="non_slideshow" src="img/social/social_pic.jpg">
	<p>
		Texas Spirits know how to have fun! Whether among us, or with various groups at mixers and
		tailgates, the variety of activities we participate in allows everyone to have a great time
		with their Spirit Sisters.
	</p>
	<p>
		<h4>Mixers</h4>
		Our mixers give us a chance to mingle with some of the other male groups on campus.
		These weekly socials are usually themed and are always a blast!
	</p>
	<p>
		<h4>Formal</h4>
		This happens at the end of the fall semester. Girls usually bring dates and have dinner
		before the event. This past fall, we danced the night away at Qua in Downtown Austin!
	</p>
	<p>
		<h4>Casual</h4>
		Texas Spirits invites their alumni back for a casual every spring. It is a great
		opportunity to talk with the alumni and see how many traditions have remained the same,
		and also new traditions that have been implemented along the way.
	</p>
	<p>
		<h4>Destination Unknown</h4>
		Our Special Projects Haunts plan a fun night at a secret location. We get on a bus with
		our dates, only knowing what our attire should be. It's a fun surprise when we arrive at
		our destination unknown! Six Flags Fiesta Texas, San Antonio Riverwalk, and Schlitterbahn
		Water Park in New Braunfels have all been past DU locations!
	</p>
	<p>
		<h4>That's not all</h4>
		Weenie Active Mixer, A-Weenie Oahu, Slip-N-Slide, Crush, Date Dash, Active Boat Party,
		Dad's Day Baseball Game, Mom's Day Brunch, and Initiation Banquet.
	</p>
	<img class="non_slideshow" src="img/social/heart_pic.jpg">
	<p>
		If you are interested in mixing or socializing with us, or for more information about our
		social events, please contact our <a href="mailto:specialprojectshaunts12@gmail.com">Special Projects Haunts: Ari Rios & Cynthia Velasco</a>.
	</p>
</div>