<div class="displayed">
	<div>
		<h3>LONGHORN SPIRIT, 'til Gabriel blows his horn!</h3>
		<p>
			Across the Forty Acres, everyone knows that Texas Spirits have a ton of school
			pride! We were awarded the Swing Out Award for Best Spirit Group two years in
			a row, based on overall school spirit and a continuing dedication to the UT
			community.
		</p>
		<img class="non_slideshow" src="img/spiritbball12.jpg">
		<p>
			We demonstrate our Longhorn Spirit by attending UT Athletic Events together in
			uniform. You are bound to see lovely ladies at these events wearing white,
			denim, the signature burnt orange Spirits scarf, and nametag.
		</p>
		<p>
			That's not all! We partner up with the Tejas Club (UT male spirit/social group)
			to set up the flashcard section before home football games. 
		</p>
		<p>
			Spirits host a face-painting booth at the Texas Exes Tailgates at the Alumni
			Center.
		</p>
		<p>
			We enjoy participating in the OU Torchlight parade and the A&M Hex Rally.
		</p>
		<p>
			Along with UT Athletic Events, Spirits love playing Intramural Sports! In the
			past we have formed Texas Spirits teams in indoor soccer, volleyball, softball,
			flag football, and water polo!
		</p>
		<img class="non_slideshow" src="img/Field.jpg">
		<p>
			One of our favorite Spirit traditions is Drag Paint!
		</p>
		<p>
			Every Sunday, Texas Spirits storm the drag to paint the windows of local
			businesses in order to announce a variety of upcoming UT events.
		</p>
		<p>
			Thanks to support from local Austin businesses, we paint several windows every
			week! Our weenies are required to attend every drag paint and actives join in as
			well. We try to mix it up by having special painting days such as "ghoulfriend
			drag paint" or "midnight drag wars."
		</p>
		<img class="non_slideshow" src="img/paintspring12.jpg">
		<p>
			If you have any questions about Drag Paint, please contact our Royal Spirit Haunt:
			Jessie Neuendorff.
		</p>
		<p>
			If you have any questions or comments about Texas Spirits' involvement with UT
			Athletics or IM Sports, please contact our Hook 'Em Haunts: Emily Lamon & Maya
			Brown.
		</p>
	</div>
</div>