<div class="displayed">
	<h3>You Wish You Were a Texas Spirits' Weenie...</h3>
	<p>
		"Weenies" are what the Texas Spirits lovingly call their newest members. Since new membership
		only lasts one semester, it is filled with many traditions and activities to make it as fun as
		possible! It is so much fun that, in fact, most Spirits regard their "Weenie semester" as their
		favorite semester.
	</p>
	<img class="non_slideshow" src="img/weenies/weenies12.jpg">
	<p>
		We start off with a WAM! (Weenie/Active Mixer) so that our Weenies can
		immediately begin meeting the girls who are already involved in the
		organization. 
	</p>
	<p>
		Next, Pajamarama, a big slumber party dedicated to a great night of
		bonding between you and your new Spirit Sisters!
	</p>
	<img class="non_slideshow" src="img/weenies/weenieoahu12.jpg">
	<p>
		Weenies are important to Spirits because they help maintain our many
		traditions. As new members, Weenies do have many memorable and
		worthwhile responsibilities to carry out:
		<ul>	
			<li>Sunday Drag Paints</li>
			<li>Friday morning Weenie meetings with the Spirit Haunts</li>
			<li>Weenie Service Project</li>
			<li>Weenie Initiation Dinner</li> 
			<li>Athletic Events</li>
		</ul>
	</p>
	<p>
		Although Spirits is a significant time commitment, we always consider
		the importance of academics. We care about your success, first and
		foremost!
	</p>
	<img class="non_slideshow" src="img/weenies/cookies4rookies12.jpg">
	<p><b>
		If you're interested in how to be a Texas Spirit Weenie please check
		out the <a href="#/Join">join page</a>
	</b></p>
</div>